body{
    background-color: #CD0065;
}

h1{
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 10px;
   
}

.users{
    color: white;
    text-align: center;
}

.userBold{
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
.circle{
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: white;
    background-color: gray;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
/* BUTTONS */
.buttonIndex{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    
}
#buttonIndex{
    text-decoration: none;
    color: white;
    background-color: #CD0065;
    justify-content: right;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    font-size: 25px;
    
}

#buttonShow{
    color: white;
    background-color: #CD0065;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
}

#buttonNew{
    color: white;
    background-color: #CD0065;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
}

#buttonEdit{
    color: white;
    background-color: #CD0065;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
}


.gridContainer{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    justify-content: center;
    grid-gap: 25px;
}

    .imagesIndex{
    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-rows: 150px;
  }
       
    
  .squareIndex {
    display: grid;
    background-color: gray;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: white;

}

.text{
    text-align:center;
    display: grid;
    grid-template-columns: 150px;
    
}

.h3Index{
    margin-top:0px;
}

 /* IMAGES */
.imagesShow{
    display: grid;
    justify-content: center;
    grid-template-rows: 300px;
    grid-template-columns: 300px;

}  

.imagesNew{
    display: grid;
    justify-content: center;
    grid-template-rows: 300px;
    grid-template-columns: 300px;

}  

.imagesEdit{
    display: grid;
    justify-content: center;
    grid-template-rows: 300px;
    grid-template-columns: 300px;

}  
  /* SQUARES */


.squareShow{
    background-color: gray;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    
}

.squareNew{
    background-color: gray;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    
}

.squareEdit{
    background-color: gray;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    
}

.link{
  
    margin-top: 0px;
    text-decoration: none;
    color: #FFFFFF
}

  #show-page{
    color: white;
    font-size: 25px;
    text-align: center;
  }
  .showBold{
    font-weight: bold;
    text-decoration: underline;
      
  }

  #new-form{
      color: white;
      font-size: 25px;
      text-align: center;
  }

  #edit-form{
    color: white;
    font-size: 25px;
    text-align: center;
    
}





/* .bigContainerIndex {
    display: grid;
    justify-content: center;
    /* grid-gap: 10px; */
    /* grid-template-rows: 150px; 
    grid-template-columns: 150px 150px 150px;
  }  */
  /* .mediumContainerIndex{
    /* padding: 0px 0px 0px 0px; 
    display: grid;
    /* justify-content: center; 
    /* grid-gap: 10px; 
    /* grid-template-rows: 150px 150px 150px;
    /* grid-template-columns: 150px 150px 150px; 
  } */